<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input  matInput #inputSearch name="filter" placeholder="Buscar..." #input>
  </mat-form-field>

<div class = "ButtonDir" align ="left">
  <button nat-raised-button color= "primary" (click)="applyFilter(inputSearch.value)" matTooltip="Consultar usuarios">
    Consultar
  </button>
</div>

<div class = "ButtonDirs" align ="left">
  <button nat-raised-button color= "primary" (click) = "inputSearch.value=' '" matTooltip ="Limpiar">
    Limpiar
  </button>
</div>
<table mat-table [dataSource] = "usuarios" class="mat-elevation-z8">
  
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td class = "pointer" mat-cell *matCellDef="let usuario" > {{usuario.id_usuario}} </td>
    </ng-container>
  
    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td class = "pointer"mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
    </ng-container>
  
    <!-- Activo Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td class = "pointer" mat-cell *matCellDef="let usuario"> {{usuario.activo}} </td>
    </ng-container>
  
    <!-- Rol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td class = "pointer" mat-cell *matCellDef="let usuario"> {{usuario.rol}}   
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef ="acciones">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let usuario"> 
        <a class = "pointer" style ="color: green" matTooltip="Editar usuario"> <mat-icon>edit</mat-icon>
        </a>
        <a class = "pointer" style ="color: red" matTooltip="Eliminar usuario"> <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>